body {
  text-align: center;
}

.App-columns{
  display: flex;
}

.App-column{
  display: flex;
  flex-direction: column;
}

.App-column > :last-child{
  flex-grow: 1;
}

.SocialMedia{
  display: flex;
  align-items: center;
}

.SocialMedia > img{
  width: 24px;
  height: 24px;
}

.SocialMedia > a {
  padding-left: 10px;
}