.Box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Box-col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Box-col2{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.Box-col2 > * {
    align-self: flex-start;
}

.Box-box-item{
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Box-box-item > *{
    text-align: start;
}

.Box-rhombus{
    width: 20px;
}

.Box-line{
    background: #1b75bb;
    width: 1px;
    align-self: center;
    flex-grow: 1;
}
